<div class="badge">
    <a href="{{ badge.link }}" target="_blank">
        <img src="{{ public('img/badge/' ~ badge.logo) }}" alt="{{ badge.title }}" title="{{ badge.title }}" class="picture">
    </a>
    {{ badge.title }}
</div>
